table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
    display: inline-table;
}

#sim td {
    width: 45px;
    height: 45px;
}

.list td, th{
    width: 70px;
    text-align: center;
}

table input {
    text-align: right;
    width: 50%;
}

#delay {
    width: 50px;
}

textarea {
    display: block;
}