table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    padding: 5px;
}

#sim {
    float: left;
}

#sim td {
    width: 45px;
    height: 45px;
}

.list td,
th {
    width: 70px;
    text-align: center;
}

table input {
    text-align: right;
    width: 50%;
}

#delay {
    width: 50px;
}

textarea {
    display: block;
}

#stats {
    display: inline-table;
}

#stats td,
th {
    padding: 5px;
}

#label {
    border-right-style: none;
}

#numInds,
#numFoods,
#avgSpeed {
    width: 50px;
    text-align: right;
    border-left-style: none;
}